body{
    background-image: linear-gradient(-135deg, #D71C23, #83146f);
    color: #D3D3D3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 20px;
    width: auto;
    height: auto;
    margin: auto;
    min-height: 1080px;
}
header{
    width: 100%;
    min-height: 190px;
    text-align: center;
    margin: auto;
}
header h1{
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.438);
    font-size: 50px;
}
main{
    background-color: rgb(31, 31, 31);
    width: 1800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.486);
}
h2{
    color: #D71C23;
    font-size: 35px;
}
.caixa{
    padding: 10px;
    margin: auto;
}
a{
    color: #D71C23;
}
footer{
  text-align: center;
  padding: 50px;
}
.btn-zoom {
  
    width:170px;
    margin:auto;
    display:block;  
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2em;
    text-align:center;
    text-decoration:none;
    text-transform: uppercase;
    padding: 12px 15px;
    border-radius:6px;
    background-color: #D71C23;
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
    background-size:contain;
    background-position: -250px center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .btn-zoom:hover {
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .btn-zoom:active {
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }



  nav {
    width:100%;
    text-align:center;
    font-size: 1em;
  }
  li {
    float: left;
    position: relative;
    display: block;
    width: 100%;
    float: left;
  }
  li:after {
    color: #f0f0f0;
    content: '|';
    position: absolute;
    top: 2.3em;
    right: 0;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    display:none;
  }
  li:last-child:after {
    content: none;
  }
  a {
    color: white;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    line-height: 2em;
    padding: 2em;
  }
  li.ativo > a,li > a:hover { background-color:transparent; color: black; }
  li > a:after {
    content: '';
    position: absolute;
    bottom: 1.5em;
    left: 15%;
    width: 70%;
    height: 4px;
    transform: scaleX(0);
    background-color: black;
    transition: all .2s ease;
    opacity: 0.6;
  }
  li.ativo > a:after,li > a:hover::after { transform:scaleX(1); }
  @media (min-width:60em){
      li       { width:auto; display:inline; }
      li:after { display:block; }
  }